/* https://github.com/mrmrs/colors */
:root {
    --navy: #001F3F;
    --blue: #0074D9;
    --aqua: #7FDBFF;
    --teal: #39CCCC;
    --olive: #3D9970;
    --green: #2ECC40;
    --lime: #01FF70;
    --yellow: #FFDC00;
    --orange: #FF851B;
    --red: #FF4136;
    --fuchsia: #F012BE;
    --purple: #B10DC9;
    --maroon: #85144B;
    --white: #FFFFFF;
    --silver: #DDDDDD;
    --gray: #AAAAAA;
    --black: #111111;
    --wes-yellow: #FFC600;
    --wes-black: #272727;
    --badass: #BADA55;
    --NAL-blue-light: #41B6E6;
    --NAL-blue: #004C97;
    --NAL-blue-dark: #002855;
    --marlin-blue-light: #99D6EA;
    --marlin-blue: #00B5E2;
    --marlin-blue-dark: #0085AD;
    --NAL-green-light: #78BE20;
    --NAL-green: #4C8C2B;
    --NAL-green-dark: #36573B;
    --massey-ferguson-red-light: #AF272F;
    --massey-ferguson-red: #8A2A2B;
    --massey-ferguson-red-dark: #643335;
    --NAL-orange-light: #F68D2E;
    --NAL-orange: #CB6015;
    --NAL-orange-dark: #B94700;
    --parairie-gold-light: #F5E1A4;
    --parairie-gold: #FED141;
    --parairie-gold-dark: #EAAA00;
    --NAL-gray-light: #A7A8AA;
    --NAL-gray: #63666A;
    --black-rich: #000000;
    --primary-light: var(--NAL-blue-light);
    --primary: var(--NAL-blue);
    --primary-dark: var(--NAL-blue-dark);
    --secondary-light: var(--marlin-blue-light);
    --secondary: var(--marlin-blue);
    --secondary-dark: var(--marlin-blue-dark);
    --good: var(--green);
    --bad: var(--red);
}

/* Source Wes Bos gridcss.io */
html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 13px; /* Wes Bos is 10px */
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Auto Config Setup */
main#auto {
  min-width: 425px;
}

main#auto>section {
  border: 1px solid #999;
  border-radius: 3px;
  background: #fff;
  padding: 1rem;
}

main#auto>section>section>* {
  border-radius: 2px;
  text-align: center;
  padding-left: 0.618rem;
  padding-right: 0.618rem;
  display: grid;
  align-content: center;
}

.description {
  background: black;
  color: cyan;
}

.reading {
  background: greenyellow;
  color: black;
}

.status {
  background: var(--good);
}

.control {
  background: red;
  color: black;
  width: 5rem;
}

.setting {
  width: 9rem;
}

@supports (display: grid) {
  main#auto {
      display: grid;
      grid-gap: 1rem;
      width: auto;
  }

  main#auto>section {
      --flow: row;
      --rows: '';
      --columns: repeat(auto-fit, minmax(260px, 1fr));
      display: grid;
      grid-gap: 0.5rem;
      grid-template-columns: var(--columns);
      grid-auto-flow: var(--flow);
      grid-template-rows: var(--rows);
  }

  main#auto>section>section {
      display: grid;
      grid-gap: 0.25rem;
      grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
      grid-auto-flow: column;
  }
}